example/flows.json
[{"id":"163bfef8.41ba31","type":"tab","label":"Fast Fourier Transform","disabled":false,"info":""},{"id":"64f7e009.38fbd","type":"debug","z":"163bfef8.41ba31","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":830,"y":300,"wires":[]},{"id":"7e9ded95.701434","type":"function","z":"163bfef8.41ba31","name":"parse","func":"var raw_data = msg.payload;\nchartjs_dataset = [];\nchartjs_labels = [];\n\nraw_data.forEach((element, index) => {\n    chartjs_dataset.push(element.magnitude);\n    chartjs_labels.push(element.freq);\n})\n\nmsg.payload = [{ series: [\"fft\"],\n                data: [chartjs_dataset.slice(0, chartjs_dataset.length/2)],\n                labels: chartjs_labels.slice(0, chartjs_labels.length/2),\n                }];\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":260,"wires":[["64f7e009.38fbd","96053639.59cba8"]]},{"id":"f92bacc1.343ef","type":"file in","z":"163bfef8.41ba31","name":"","filename":"Desktop\\fft\\csv\\full.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":300,"y":80,"wires":[["29635170.fca83e"]]},{"id":"29635170.fca83e","type":"csv","z":"163bfef8.41ba31","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":610,"y":80,"wires":[["4e7a5d4c.3c9844"]]},{"id":"3a205ddd.8c6772","type":"debug","z":"163bfef8.41ba31","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":830,"y":200,"wires":[]},{"id":"2162a848.ae6498","type":"inject","z":"163bfef8.41ba31","name":"Play","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":80,"wires":[["f92bacc1.343ef"]]},{"id":"9f94655b.da5a68","type":"buffer-array","z":"163bfef8.41ba31","name":"","bufferLen":"512","startWhenFilled":true,"x":170,"y":260,"wires":[["191a8055.e9125","9e28dab1.468d78"]]},{"id":"4e7a5d4c.3c9844","type":"delay","z":"163bfef8.41ba31","name":"Sample every 0.1s","pauseType":"rate","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"0.1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":790,"y":80,"wires":[["f0873e6b.90399"]]},{"id":"f0873e6b.90399","type":"function","z":"163bfef8.41ba31","name":"unwrap","func":"msg.payload = msg.payload.col1;\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":160,"wires":[["9f94655b.da5a68","5fe963cc.35e94c","3a205ddd.8c6772"]]},{"id":"5fe963cc.35e94c","type":"ui_chart","z":"163bfef8.41ba31","name":"","group":"b69ce1ee.f439c","order":1,"width":"0","height":"0","label":"Plain signal","chartType":"line","legend":"false","xformat":"ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-2.5","ymax":"2.5","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":830,"y":160,"wires":[[]]},{"id":"96053639.59cba8","type":"ui_chart","z":"163bfef8.41ba31","name":"","group":"b69ce1ee.f439c","order":2,"width":"0","height":"0","label":"FFT (magnitude)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"256","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":850,"y":260,"wires":[[]]},{"id":"79e1192f.7202f8","type":"debug","z":"163bfef8.41ba31","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":830,"y":500,"wires":[]},{"id":"96fb6068.4786","type":"function","z":"163bfef8.41ba31","name":"parse","func":"var raw_data = msg.payload;\nchartjs_dataset = [];\nchartjs_labels = [];\n\nraw_data.forEach((element, index) => {\n    chartjs_dataset.push(element.real);\n    chartjs_labels.push(element.freq);\n})\n\nmsg.payload = [{ series: [\"fft\"],\n                data: [chartjs_dataset.slice(0, chartjs_dataset.length/2)],\n                labels: chartjs_labels.slice(0, chartjs_labels.length/2),\n                }];\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":460,"wires":[["79e1192f.7202f8","f4876837.464638"]]},{"id":"f4876837.464638","type":"ui_chart","z":"163bfef8.41ba31","name":"","group":"b69ce1ee.f439c","order":4,"width":"0","height":"0","label":"FFT (real)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-7","ymax":"7","removeOlder":1,"removeOlderPoints":"256","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":820,"y":460,"wires":[[]]},{"id":"2d8e6c2.46e6394","type":"debug","z":"163bfef8.41ba31","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":830,"y":600,"wires":[]},{"id":"f333260a.e67478","type":"function","z":"163bfef8.41ba31","name":"parse","func":"var raw_data = msg.payload;\nchartjs_dataset = [];\nchartjs_labels = [];\n\nraw_data.forEach((element, index) => {\n    chartjs_dataset.push(element.imag);\n    chartjs_labels.push(element.freq);\n})\n\nmsg.payload = [{ series: [\"fft\"],\n                data: [chartjs_dataset.slice(0, chartjs_dataset.length/2)],\n                labels: chartjs_labels.slice(0, chartjs_labels.length/2),\n                }];\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":560,"wires":[["2d8e6c2.46e6394","e0a71022.b8a93"]]},{"id":"e0a71022.b8a93","type":"ui_chart","z":"163bfef8.41ba31","name":"","group":"b69ce1ee.f439c","order":5,"width":"0","height":"0","label":"FFT (imag)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-7","ymax":"7","removeOlder":1,"removeOlderPoints":"256","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":830,"y":560,"wires":[[]]},{"id":"c97fef10.f519a","type":"debug","z":"163bfef8.41ba31","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":830,"y":400,"wires":[]},{"id":"896ae105.33a14","type":"function","z":"163bfef8.41ba31","name":"parse","func":"var raw_data = msg.payload;\nchartjs_dataset = [];\nchartjs_labels = [];\n\nraw_data.forEach((element, index) => {\n    chartjs_dataset.push(element.phase);\n    chartjs_labels.push(element.freq);\n})\n\nmsg.payload = [{ series: [\"fft\"],\n                data: [chartjs_dataset.slice(0, chartjs_dataset.length/2)],\n                labels: chartjs_labels.slice(0, chartjs_labels.length/2),\n                }];\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":360,"wires":[["c97fef10.f519a","aaf52134.bb69f"]]},{"id":"aaf52134.bb69f","type":"ui_chart","z":"163bfef8.41ba31","name":"","group":"b69ce1ee.f439c","order":3,"width":"0","height":"0","label":"FFT (phase)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-100","ymax":"100","removeOlder":1,"removeOlderPoints":"256","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":830,"y":360,"wires":[[]]},{"id":"8f211faa.839e9","type":"debug","z":"163bfef8.41ba31","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":830,"y":700,"wires":[]},{"id":"b988f392.24f53","type":"function","z":"163bfef8.41ba31","name":"parse","func":"msg.payload = msg.payload[0].real;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":660,"wires":[["8f211faa.839e9","e27859a9.c0e578"]]},{"id":"e27859a9.c0e578","type":"ui_chart","z":"163bfef8.41ba31","name":"","group":"b69ce1ee.f439c","order":6,"width":"0","height":"0","label":"InvFFT","chartType":"line","legend":"false","xformat":"ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-2.5","ymax":"2.5","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":820,"y":660,"wires":[[]]},{"id":"de04b5d6.755b38","type":"file in","z":"163bfef8.41ba31","name":"","filename":"Desktop\\fft\\csv\\empty.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":290,"y":160,"wires":[["29635170.fca83e"]]},{"id":"9d3ddcec.cf8dd","type":"inject","z":"163bfef8.41ba31","name":"Play","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":160,"wires":[["de04b5d6.755b38"]]},{"id":"191a8055.e9125","type":"js-fft","z":"163bfef8.41ba31","name":"magnitude+phase","algorithm":"mgn","period":"0.001","x":410,"y":260,"wires":[["7e9ded95.701434","896ae105.33a14"]]},{"id":"9e28dab1.468d78","type":"js-fft","z":"163bfef8.41ba31","name":"fft","algorithm":"fft","period":"0.001","x":370,"y":460,"wires":[["96fb6068.4786","f333260a.e67478","55c120d9.1a7d2"]]},{"id":"55c120d9.1a7d2","type":"js-fft","z":"163bfef8.41ba31","name":"inv-fft","algorithm":"inv","period":"0.001","x":370,"y":660,"wires":[["b988f392.24f53"]]},{"id":"b69ce1ee.f439c","type":"ui_group","z":"","name":"Fast Fourier Transform","tab":"1205a780.082149","order":1,"disp":false,"width":"6","collapse":false},{"id":"1205a780.082149","type":"ui_tab","z":"","name":"Fast Fourier Transform","icon":"dashboard","disabled":false,"hidden":false}]